h1 {
  margin: 0 0 20px;
  text-align: center;
  font-family: "Niconne", cursive;
  font-size: 80px;
  color: #24190a;
}

h2 {
  margin: 0 0 5px;
  font-size: 35px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1692198669686-0a3959951e11?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1816&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f9f7fe;
  font-family: "Cormorant Garamond", serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #efe7e8;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  border-radius: 8px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #c98f63;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.9;
  font-size: 20px;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #ca8368;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  color: white;
  text-align: center;
  font-size: 18px;
}

.link {
  color: white;
}
.link:hover {
  color: black;
}
